[2019-03-06 20:42] NikhilM98 opened #6 "Issue while running Exerciser in development mode."
After recently cloned the repository and deployed locally by doing `npm run start` (not inside the Sugarizer) and when I completed an exercise, instead of getting the charts in results, I got the following error:

<img width="1093" alt="52536209-92e2a680-2d7d-11e9-832f-60885c111d7b" src="https://user-images.githubusercontent.com/24666770/53912164-56ede900-407e-11e9-832a-29655cb36ae0.png">

[2019-03-07 03:47] nityanandagohain opened #7 "Toggle "home" and "add exercise" button."
When we are in home then only "Add exercise" button should be displayed  and vice versa when we are in the Add Exercise page.

[2019-03-07 04:06] nityanandagohain opened #9 "change background-color to backgroundColor for jsx"
currently a warning is given
![screenshot from 2019-03-07 09-29-26](https://user-images.githubusercontent.com/26831659/53931724-5f651480-40bc-11e9-8843-9fa4f17f38a2.png)

[2019-03-07 15:07] #9 closed

[2019-03-07 15:09] llaske commented on #6
Fixed in https://github.com/llaske/ExerciserReact/pull/2

[2019-03-07 15:09] #6 closed

[2019-03-09 12:50] Anshuman71 commented on #7
On it!
I am working on it. I will update you as soon as I hit the solution

[2019-03-12 13:41] AvinashAgarwal14 opened #14 "Unable to access journalchooser and datastore"
@llaske I am unable to access journalchooser and datastore from fronted part of the application(Exerciser) could you please help me in this regard? I saw Paint Activity code there 'define' is being used for this purpose, isn't there any other way?

[2019-03-14 10:54] prasadgujar opened #15 "Vulnerabilities found during npm install"
Hello everyone,
While installing exceriserReact Locally.
I found following issues and warning.

![bugg](https://user-images.githubusercontent.com/12856921/54351355-530d2880-4675-11e9-8275-8e1b3e927554.PNG)

[2019-03-14 19:13] plxity opened #16 "Dialog box should automatically close when switched to other tab."
# Actual behaviour

![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/28510494/54384784-1532f300-46bb-11e9-803b-dec9582e0503.gif)
The dialog box doesn't close automatically as the user switches to another tab.

# Expected behaviour
The dialog box should be closed as the user switched to another tab.

[2019-03-14 19:15] plxity opened #17 "Add issue and pull request template."
As of now there is no issue or Pull request template.
A proper template should be added for both in order to maintain smooth functioning.

[2019-03-15 20:03] prasadgujar commented on #17
@llaske can i work on this issue?

[2019-03-15 20:04] plxity commented on #17
I am working on it.

[2019-03-15 20:04] prasadgujar commented on #15
@llaske please checkout this issue.

[2019-03-15 20:33] prasadgujar opened #18 "Issue while Submiting the cloze activity."
**Issue:**

**Current Behaviour**
while submitting the empty question and title as well as other options blank in a cloze activity it should warn or promote the message regarding the same.
![1](https://user-images.githubusercontent.com/12856921/54460341-4b41a700-478f-11e9-986f-ac6d85dc2459.PNG)
**Excepted Behaviour:**
it should promote the message/warning stating that the required values are not f

[2019-03-16 21:49] Kanishka5 commented on #16
@llaske I am working on this.

[2019-03-17 10:05] llaske commented on #16
It's a standard behavior for Sugarizer activities. Have a look for example on Paint or Labyrinth activity.

[2019-03-17 10:09] llaske commented on #14
The [step 7](https://github.com/llaske/sugarizer/blob/dev/docs/tutorial_step7.md) of tutorial explain how to include Journal Chooser.

[2019-03-17 13:41] Scar26 opened #20 "In Cloze activity: users should be able to add blank by pressing insert key on keyboard"
Currently, you have to press the "Add Blank" button in order to add a blank in  the text  but it would be more convenient if you could just press a key(say, insert) to do so.

[2019-03-17 19:32] AvinashAgarwal14 opened #21 "Unable to add images in cloze form"

[2019-03-18 20:47] AvinashAgarwal14 opened #23 "Detailed response of cloze form not showed"

[2019-03-19 06:59] Anshuman71 opened #25 "Unused variables and warnings from react-scripts"
There are a lot of warnings from react-scripts
![Screenshot from 2019-03-19 12-29-33](https://user-images.githubusercontent.com/28081510/54586344-bff03c00-4a42-11e9-8b6f-a90ac451600c.png)
I think it's a good practice to overcome these and run without warnings.
I am working on this issue.

[2019-03-19 09:42] Anshuman71 opened #27 "Stateless class components"
There are many components in the app which are stateless.
Stateless components should be functional components rather than class components
I am working on this issue.
Update: fixed in #28

[2019-03-21 21:29] llaske commented on #17
I don't see any issue regarding Issue declaration and PR. We don't need a template.

[2019-03-21 21:29] llaske commented on #7
Good idea. Why not.

[2019-03-21 21:29] #14 closed

[2019-03-21 21:34] llaske commented on #18
I don't think so. The message appears when the focus left an empty field.

[2019-03-21 21:37] llaske commented on #20
The user could just type -N- , don't think we need a key.

[2019-03-23 07:52] plxity commented on #17
@llaske If we use a template it will make it easy for other developers to go through issue and PR. Many open source communities use templates for smooth functioning. So I thought of creating an issue for the same. :)

[2019-03-26 07:50] jerrybuks opened #30 "npm run start fails"
when i try to run the server, it throws this error
./src/containers/Sugarizer.js
Module not found: Can't resolve 'lib/sugar-web/activity/activity' in 'C:\Users\Chibuokem Jerry\Desktop\Gsoc19\ExerciserReact\src\containers'

[2019-03-26 07:51] jerrybuks commented on #30
Any suggestions, cus i'm trying to fix this

[2019-03-26 08:47] AvinashAgarwal14 commented on #30
Did you copy the lib folder into node modules? You need to do that before starting the server.

[2019-03-26 09:56] jerrybuks commented on #30
ooh, i didn't...........just did it now and it works fine. Thanks

[2019-03-26 09:56] #30 closed

[2019-03-27 12:44] include-sanju commented on #7
According to what you mentioned in PR #8 , I have a solution- we can show the “add exercise” button only on the home page and the “home button” on all other pages as I don’t see any use of the “add-exercise” button elsewhere.

[2019-03-27 15:11] AvinashAgarwal14 opened #33 "add and remove button display issue"
In the current state of the application due to bootstrap, the add and remove button in all the templates is transparent.

[2019-03-27 16:52] AvinashAgarwal14 opened #35 "No provision to add background images in CLOZE or MCQ Forms as in Learning Apps Website"
@llaske @thingthing Is this a desired feature? Should I work on this?

[2019-03-28 13:56] vaarigupta opened #36 "Issue with IRC Channel - Cannot find the suitable platform"
@llaske  I am excited for this project but **I am not able to find the IRC channel for sugarlabs.** Moreover, I  have downloaded **hexchat**, one of the popular IRC client. I could not communicate via that one with the community.
**Please share the link so that  I can be part with the community so soon and have a deep dive into the project clearly.**

[2019-03-29 03:02] Anshuman71 opened #37 "Blank answers/options are distorted when error in submit"
![Screenshot from 2019-03-29 08-24-09](https://user-images.githubusercontent.com/28081510/55206589-0a20ac80-51fd-11e9-82aa-6ef632788065.png)

[2019-03-29 19:19] vaarigupta commented on #35
@AvinashAgarwal14  Hello, I want to be part of community. Which IRC channel do you use to be part of community?
and I cannot run ExerciserReact on my system. It is asking for sugarizer to run on your system. I have installed that but cannot find any way to resolve the issue.
![exerciser](https://user-images.githubusercontent.com/32798276/55257362-aee6cc80-5285-11e9-9d52-f3daac813769.png)

[2019-03-30 07:36] AvinashAgarwal14 commented on #35
@vaarigupta Hey! We don't use any IRC Client as such, we use Github's issue to communiacate our doubts and ideas.
As far as the error is concerned you need to copy the lib folder into node_modules before starting the server i.e
[code]

[2019-03-30 16:00] vaarigupta commented on #35
Hey @AvinashAgarwal14  Thank you so much yr. It worked. I was  not able to figure out. Thanks a lot

[2019-03-30 16:18] AvinashAgarwal14 commented on #35
@vaarigupta Sure, no problem.

[2019-03-30 20:16] llaske commented on #35
@AvinashAgarwal14 I don't plan to add background image on any template. I know it's in Learning App but I think it's useless.

[2019-03-30 20:18] llaske commented on #37
What was your template to obtain this result?

[2019-03-30 20:24] llaske commented on #36
@vaarigupta, the IRC channel is #sugar on irc.freenode.net . You could also write by mail on Sugar Devel list at sugar-devel@lists.sugarlabs.org
If you want to contribute on this activity on other activities, do not hesitate to send PR on this repo or on [Sugarizer repo](https://github.com/llaske/sugarizer).
BTW I'm closing the issue because it's not related to the activity.

[2019-03-30 20:24] #36 closed

[2019-03-30 21:17] AvinashAgarwal14 commented on #35
@llaske Thanks for the insight :). Closing this issue.

[2019-03-30 21:17] #35 closed

[2019-03-31 02:07] Anshuman71 commented on #37
When we use 'Cloze Text' and go on to make 'write in' exercise, if we submit without filling any of the answers then this happens

[2019-03-31 16:57] vaarigupta commented on #36
Thanks a lot @llaske  for resolving my query.

[2019-04-02 04:43] AvinashAgarwal14 opened #38 "In shared exercise multiple result per user is displayed"
Currently in a shared exercise, if a user gives the same exercise more than one time and if he/she scores more than the previous time the previous result is updated whereas if he scores less than the precious time, a new result is created for the same user.
I think the behaviour should be to display only the latest score be it an improvement to the previous one or not.

[2019-04-02 16:04] #25 closed

[2019-04-02 16:14] llaske commented on #38
Yes, you're right. It's better.

[2019-04-02 16:15] #38 closed

[2019-04-02 16:21] llaske opened #40 "Shared exercise can't be edited when reopen"
When an exercise was shared and the activity is closed then reopen the exercise appears as non editable.
It's correct to forbid update of an exercise during a share but this state should not be persisted in the journal when the activity is closed.

[2019-04-02 16:24] llaske commented on #37
Okay, you're right it's ugly. BTW it's not related to "write in" same thing happen in list mode.

[2019-04-03 11:00] ironsoul0 commented on #37
If bug is still remaining, may you please give more details on it, so I can fix it?

[2019-04-05 09:41] ironsoul0 commented on #37
May you please review PR #44. I think it should solve the problem.

[2019-04-05 15:13] #27 closed

[2019-04-07 09:41] vinay72 opened #48 "Contributing Guide needed in this repository."
I am working on this issue.

[2019-04-07 10:52] AvinashAgarwal14 opened #50 "Freetext input template needed"

[2019-04-07 14:38] llaske commented on #48
We don't need a contributing guide, we already have on in SugarLabs and in Sugarizer.

[2019-04-07 18:40] vinay72 opened #52 "Dark Theme needed in this repository"
Yes, I am working on this issue.

[2019-04-07 19:01] vinay72 opened #53 "Error showing after the execution of sudo npm start"
I have cloned this repository on my local system and I have followed all the commands in the `Readme.md` but when I try to execute `sudo npm run start` , terminal produces the following error -
![Screenshot from 2019-04-08 00-27-07](https://user-images.githubusercontent.com/28500944/55688382-7df94c80-5995-11e9-9e47-1bc00ac6c04f.png)

[2019-04-07 19:50] llaske commented on #52
What you means by Dark Theme? If it's related to MacOS features, we don't need this.

[2019-04-07 19:57] vinay72 commented on #52
@llaske   I am simply trying to say that in a Exerciser we can have a toggle button which enables/disables the simple Dark Theme while creating and playing with exercises.

[2019-04-08 08:53] llaske commented on #33
@AvinashAgarwal14, not sure to understand why you closed it.
May be it could fix https://github.com/llaske/ExerciserReact/pull/43

[2019-04-08 09:05] AvinashAgarwal14 commented on #33
@llaske I too was facing this issue, but re-pulling from the master branch solved my problem so I thought this issue was specifically with my system. If that is not the case and other people are also facing the same issue should I re-open it?

[2019-04-10 20:31] llaske commented on #52
Sugar UI has no dark theme.

[2019-04-11 20:36] #48 closed

[2019-04-11 20:38] #52 closed

[2019-04-23 15:41] llaske opened #54 "Empty questions in MCQ"
It's possible to create empty questions in MCQ: no text for question, no correct answer, no wrong answer.
There is a warning popup but nothing forbid users to ignore it and create new questions.

<img width="1050" alt="image" src="https://user-images.githubusercontent.com/981841/56595289-a9637480-65ee-11e9-8ff8-38708223495b.png">

[2019-04-23 15:43] llaske opened #55 "Warning popup language is wrong"
Warning popup to notify users when a field is mandatory use the browser language, not the Sugarizer language.
Following is a popup for an English user using a French browser.

<img width="1050" alt="image" src="https://user-images.githubusercontent.com/981841/56595625-43c3b800-65ef-11e9-93ed-2c9315b6a772.png">

[2019-04-23 19:54] #33 closed

[2019-04-26 18:07] AvinashAgarwal14 commented on #55
@llaske Is there a need for HTML5 validation tooltip when there is custom validation message for each input field?

[2019-04-26 19:36] llaske commented on #55
Good remark. We don't need this. The fix could be to remove it.

[2019-04-26 19:47] #54 closed

[2019-04-27 03:07] AvinashAgarwal14 commented on #55
@llaske Sure, done. Please review this PR.

[2019-04-27 15:55] #55 closed

[2019-05-03 19:32] llaske opened #58 "Sugar-Web library is not the same in Exerciser"
The Sugar-web library - content in lib/sugar-web directory - has been changed for Exerciser.
It's a maintenance issue because sugar-web has been updated since its integration in Exerciser. So it should be reintegrated.
Most update are related to environment issue but [one line](https://github.com/llaske/ExerciserReact/blob/master/lib/sugar-web/presence.js#L217) added in presence.js ask question.

[2019-05-13 07:40] #16 closed

[2019-05-13 07:41] #17 closed

[2019-05-13 07:41] #18 closed

[2019-05-13 07:41] #20 closed

[2019-05-16 14:46] AvinashAgarwal14 commented on #37
@llaske The issue is justified. It only happens when the number of clozes and the number of blanks is not the same, which shouldn't be the case. Should we add an error message which appears if the user tries to submit a question with an uneven number of blanks and clozes?

[2019-05-16 15:19] AvinashAgarwal14 commented on #37
@llaske The issue is justified. It only happens when the number of clozes and the number of blanks is not the same, which shouldn't be the case. Should we add an error message which appears if the user tries to submit a question with an uneven number of blanks and clozes?

[2019-05-17 14:37] AvinashAgarwal14 opened #61 "Users should be able to add thumbnail for exercises"

[2019-05-18 19:43] #37 closed

[2019-05-18 20:11] llaske opened #63 "Reusing a number in a cloze form has side effect"
When a number is reused in a close text, there is a side effect on final screen.

![image](https://user-images.githubusercontent.com/981841/57974517-be4ae200-79b9-11e9-9b72-b92ede76a7f5.png)

![image](https://user-images.githubusercontent.com/981841/57974513-9491bb00-79b9-11e9-929d-0e3468a23b8e.png)

I guess that reusing an item should be forbidden.

[2019-05-19 19:36] #40 closed

[2019-05-25 20:34] #63 closed

[2019-05-29 19:58] llaske commented on #7
Both buttons are still visible on the result screen.

![image](https://user-images.githubusercontent.com/981841/58587059-be21d080-825c-11e9-9cc7-3e8223dd88ee.png)

[2019-05-29 20:18] AvinashAgarwal14 commented on #7
Which button is expected in the results page?

[2019-05-29 20:34] llaske commented on #7
Only Home button

[2019-05-30 20:20] #58 closed

[2019-05-30 20:24] #7 closed

[2019-06-18 20:59] #61 closed

[2019-06-26 19:06] #21 closed

[2019-06-26 19:06] #23 closed

[2019-07-13 10:11] llaske opened #75 "No way to remove items in an Exercise"
It's possible to edit an exercise so it's possible to add/update a question but there is no way to remove a question/item in an existing exercise. Should be nice to add a button for that.

[2019-07-15 07:07] plxity opened #76 "Displaying a confirmation modal after clicking on 'submit questions'"
A confirmation modal should appear after clicking on 'submit questions' to make sure it is not clicked by mistake.

Can I work on adding this feature?

[2019-07-15 10:04] llaske commented on #76
Adding a confirmation modal is not need, the user has plenty of time to make its decision.
Plus, at worse, he could restart the exercise.

[2019-07-17 15:40] llaske commented on #50
Added in https://github.com/llaske/ExerciserReact/pull/74

[2019-07-17 15:40] #50 closed

[2019-07-17 15:40] #76 closed

[2019-07-17 15:43] llaske commented on #53
Fixed in latest release.

[2019-07-17 15:43] #53 closed

[2019-07-17 15:52] llaske opened #77 "Shared the activity means share all exercises"
When an user share an activity, he could choose which exercises he want to share.
BTW it look like all exercises are shared but only exercises really shared appears.
So there is a "flash" where all exercises appears on the joining user screen:

![Enregistrement de l’écran 2019-07-17 à 17 47 07 2019-07-17 17_54_05](https://user-images.githubusercontent.com/981841/61390966-0a33dd80-a8bc-11e9-8692-

[2019-07-30 13:22] #77 closed

[2019-08-03 17:22] #75 closed

[2019-11-21 20:46] llaske opened #88 "Improve UI to split settings mode and run mode"
With the current UI it's too simple to remove an exercise by error: just by clicking on the remove button on an exercise.

The idea is to create a new edit mode like in Memorize activity:

* Adding/Removing/Deleting exercises will be only possible in edit mode.
* In Play mode (by default) only playing and sharing exercise will be allowed.
* Switch between Edit/Play mode will be done by a new butto

[2019-12-14 15:49] llaske commented on #88
Fixed in https://github.com/llaske/ExerciserReact/pull/89

[2019-12-14 15:50] #88 closed

[2020-01-24 14:31] anshuldutt21 opened #90 "Improve css of the subactivity Learn Roman Numerals"
There should be some amount of space left below the submit button. The button is being a little bit cut.

![Screenshot from 2020-01-24 20-00-29](https://user-images.githubusercontent.com/45336622/73076472-315f0d80-3ee4-11ea-93d8-6b3e443638e6.png)

[2020-01-25 21:27] llaske commented on #90
You're right but it's not specific to the Learn Roman Numerals.
I guess it's related to the number of items in the Reorder list template. Sounds like this issue appears when number of items is greater than 5.

[2020-01-26 12:08] anshuldutt21 opened #91 "Redundant scrollbar"
In most of the sub activities there is a vertical scrollbar which has no use since there is no content below. That should be removed.
![Screenshot from 2020-01-26 17-37-36](https://user-images.githubusercontent.com/45336622/73134940-980a3580-4062-11ea-842b-f64f8539838c.png)

[2020-02-11 14:59] llaske opened #92 "Add a fullscreen button"
Sugarizer activities don't look good on devices with small screen - for example smartphones.
On these devices, the toolbar could sometimes take 1/4 of the screen.

To increase the size for activities contents, the idea is to add a fullscreen button in the toolbar  like in the QRCode activity. When clicked, the fullscreen button hide the toolbar and display only an unfullscreen button. When clicked

[2020-02-21 23:43] ksraj123 commented on #92
@llaske I was also working on the same issue (commits 2 days old) I used a different approach and implemented the resizing part similar to the qr code activity, so created a PR even tough one was open already. https://github.com/llaske/ExerciserReact/pull/94
Please go through the PR and share feedback. Please consider merging it if it suited to the needs.

Added similar comment to issue #602 in su

[2020-02-22 07:17] ksraj123 commented on #90
@llaske fixed the issue in https://github.com/llaske/ExerciserReact/pull/95
opened a PR. Please share feedback or consider merging if it is as per expectation.

[2020-02-22 07:18] ksraj123 commented on #91
@llaske fixed the issue in https://github.com/llaske/ExerciserReact/pull/95
opened a PR. Please share feedback or consider merging if it is as per expectation.

[2020-02-22 10:37] #91 closed

[2020-02-22 10:38] #90 closed

[2020-03-08 20:25] llaske commented on #92
Fixed by https://github.com/llaske/ExerciserReact/pull/93

[2020-03-08 20:25] #92 closed

[2020-03-08 20:34] ksraj123 commented on #92
@llaske I am sorry but I do not understand, was there some unresolved issue with #94 ? There is no resizing functionality in #93 and better react conventions are followed in #94 and many other related issues are solved in #94.

[2020-03-08 20:36] llaske commented on #92
@ksraj123 it's not a competition, you're free to propose improvements if you think something could be improve.

[2020-03-08 20:42] ksraj123 commented on #92
@llaske sure. will open a new PR improving upon the functionality of full screen button. I was just curious to know if there were any unresolved issues with my PR.

[2020-03-09 00:18] ksraj123 opened #97 "No space below submit button in multiple sub activities"
Issue #90 mentions about no space below the submit button in Reorder List. This issue was fixed in #95 but the same issue is apparent in multiple other sub activities on mobile resolutions (iphone 6/7/8)

- Free text input
![free text input issue](https://user-images.githubusercontent.com/39027928/76173859-3e506b80-61c9-11ea-93ec-f8566a86a180.png)

- Matching Pair
![matching pair issue](https://us

[2020-03-09 00:32] ksraj123 opened #98 "Position of Toolbar buttons wrong at mobile resolution"
The position of toolbar buttons is wrong at mobile resolutions. It is inconsistent with other activities and this activity itself before addition of full screen button.

Below is how the toolbar currently looks like on mobile resolution -
![toolbar buttons now](https://user-images.githubusercontent.com/39027928/76174129-6214b100-61cb-11ea-8a23-2169f02bd1de.png)

Screen capture before addition of f

[2020-03-10 10:58] llaske commented on #98
Fixed in https://github.com/llaske/ExerciserReact/pull/96

[2020-03-10 10:58] #98 closed

[2020-03-10 10:58] llaske commented on #97
Fixed in https://github.com/llaske/ExerciserReact/pull/96

[2020-03-10 10:58] #97 closed

[2020-09-26 13:32] llaske opened #100 "Leaving Sugarizer app without leaving Exerciser cause activity to become empty #850"
It's possible to leave Sugarizer when Exerciser is still running: by closing the browser or by quitting the app.
In that case when Exerciser is relaunch, the content of the activity is empty.
Of course it's not a good idea for the user to leave activity on this way because it could lost its current work but having an empty context is not a good experience.

See https://github.com/llaske/sugarizer/

[2022-02-11 08:45] S-kus opened #101 "UI improvement in exercises"
Buttons have no margin like in `Add Blank` of **Cloze Text** and for small screens, other buttons like `Previous Question` and `Finish Exercise` also have no margin as shown here:

![Screenshot from 2022-02-10 19-50-25](https://user-images.githubusercontent.com/86892991/153560931-974dd2b4-354c-47ad-94b1-df226c4eb7bd.png)

![Screenshot from 2022-02-11 14-02-48](https://user-images.githubusercontent

[2022-02-14 20:48] adarshpriyadarshii commented on #101
Hey @llaske is this issue resolved?
if not, can I work on it?

[2022-02-19 14:08] #101 closed

[2022-02-19 14:09] llaske commented on #101
@adarshpriyadarshii it's fixed in https://github.com/llaske/ExerciserReact/pull/102

[2022-02-19 16:38] S-kus opened #103 "UI correction in Activity Toolbar"
There are mainly 2 issues:
1. As mentioned in https://github.com/llaske/sugarizer/issues/748 this issue, **arrow** is not working in the correct manner like in other activities.
2. Toolbar i.e. navbar is not responsive, in other activities when screen size decreases, the **help button**, **full-screen button**, etc are come down from that row but still inside the toolbar i.e. under black backgroun

[2022-02-19 16:57] S-kus commented on #103
Hey @llaske!
I fixed these issues in the Pull request, Could you please review it.

If it's okay then I will fix it in [this](https://github.com/llaske/sugarizer) repository as well.

[2022-02-22 21:07] llaske commented on #103
@S-kus thanks.
See my comment on your PR.

[2022-02-23 20:38] #103 closed

[2022-03-07 19:37] S-kus opened #105 "Upgrading packages and React-Version"
Needed to upgrade the react version and other dependent packages. Some packages are even migrated to another new package name.

[2022-03-07 19:44] S-kus commented on #105
Hey, @llaske I am working on this issue, only one error remaining now is about "react-intl", which is migrated to "formatjs". According to the [official site](https://www.npmjs.com/package/react-intl).

Can I add new packages too in the app i.e. "formatJs" package!
Because other than this, the `addLocaleData` has been removed. Because of this, I am currently getting only these error:
![error](http

[2022-03-09 11:59] ashish0910 commented on #105
@S-kus yes we can add

[2022-03-09 16:48] S-kus commented on #105
Okay, Thanks @ashish0910.

[2022-03-14 05:39] gitkaarma opened #106 "Improvement in Results Section"
![image](https://user-images.githubusercontent.com/96700361/158111219-69dc6bd2-f642-4655-bf2c-849cecd05587.png)

The three icons on the left doesn't seem very intuitive to first time users. Neither there is a description of what they do nor their description pops when we hover over them. A toolbar with better description would be better like : -

![image](https://user-images.githubusercontent.com/

[2022-03-14 09:02] codebloded commented on #106
Ia there tooltips? Correspondening to every button??
@gitkaarma .!

[2022-03-14 13:03] gitkaarma commented on #106
@llaske @ashish0910 I have made PR for this issue. PTAL!

[2022-03-15 11:47] gitkaarma opened #108 "Improvement in Exercise Cards"
To open an activity we have to click on the play button itself. Intuitively, the exercise should open on clicking anywhere on the card.

https://user-images.githubusercontent.com/96700361/158371350-a0a38372-6885-45db-8396-85eae9f5870d.mp4

Also adding hover effect on particular card would help the user.

https://user-images.githubusercontent.com/96700361/158371369-673ab9eb-b56a-42b8-8a22-70a94c76f

[2022-03-17 06:25] gitkaarma opened #110 "Addition of timer in test"
There is no option for student to keep track of elapsed time while solving an exercise. This feature will prove to be extremely useful to the students.

[2022-03-17 06:26] gitkaarma commented on #110
@llaske can I work on this feature?

[2022-03-19 15:44] ashish0910 commented on #108
@gitkaarma would be great to have open by clicking on anywhere on the card but don't think we should have a hover effect
What do you think @llaske?

[2022-03-19 15:59] ashish0910 commented on #110
@gitkaarma would be great to have this feature
we can also have a feature to have a time limit for an exercise to be solved

[2022-03-19 16:42] Shreyas-SAS commented on #110
yeah i agree. we can maybe even keep a history of recorded exercise time and create a progress graph or something. but it might get a little too big I guess. stopwatch and timer will be a great improvement in themselves.

@gitkaarma if you need help I am ready to collaborate in any way I can.

[2022-03-19 22:03] llaske commented on #106
Ok adding a localized tooltip could be a good idea.

[2022-03-19 22:04] gitkaarma commented on #110
@ashish0910 Currently I am working on the timer part, time limit for an exercise could be solved as a separate issue.
@Shreyas-SAS I have almost completed the code, looking forward to collaborate in future!

[2022-03-19 22:14] llaske commented on #108
Hmmm. The problem is that for [the future evolution](https://github.com/sugarlabs/GSoC/blob/master/Ideas-2022.md#exerciser-evaluation-mode) of this activity, it's planned to "to always display shared buttons on exercises".
So how to be compatible with this new behavior?

[2022-03-19 22:20] gitkaarma commented on #108
@llaske intuitively clicking on exercise should start the exercise. In order to share, the user should manually press the share button and not anywhere on the exercise.

[2022-03-19 22:23] gitkaarma commented on #106
By localized do you mean:  -
![image](https://user-images.githubusercontent.com/96700361/159140456-bfc70f93-c890-487f-89f9-5e0782d3a011.png)

?

[2022-03-20 03:46] Shreyas-SAS commented on #110
Oh not a problem. Of what i understand, you are working only on time elapsed or to put in other words stopwatch part right?

So if @ashish0910 sir is ok with it, can I work on the timer section of the project after @gitkaarma has completed his work on stopwatch? It will just be a toggle mode kind of thing to change between the two modes.

[2022-03-20 07:36] llaske commented on #106
It means that the tooltip text should use the current user language i.e. text should not be hardcoded in English

[2022-03-20 12:38] gitkaarma commented on #106
@llaske, sorry but I am not able to understand. Does sugarizer have support for multiple languages?

[2022-03-20 12:41] gitkaarma commented on #108
@llaske I understand your point. Can we just add the hover effect?

[2022-03-20 12:42] llaske commented on #106
Of course ! Change language in Sugarizer setting and you will see all activities adapted

[2022-03-20 20:12] llaske commented on #108
@gitkaarma sure you could add a light hover effect like in the Vote activity.
Note that Sugarizer is often use on touch screen where the hover effect doesn't exist. It's why we can't depend on it.

[2022-03-21 05:00] gitkaarma commented on #108
@llaske, I agree that hover effect is useful only for desktop users. For now I have added hover effect similar to vote activity and removed 'onClick' on Exercise card.

[2022-03-21 09:36] gitkaarma commented on #110
Proposed change: -

https://user-images.githubusercontent.com/96700361/159235776-1a53d3b7-5b74-43fc-88bd-af9f468839bf.mp4

@llaske What do you think about this feature?

[2022-03-21 21:16] bdbose opened #112 "UI Modernize Request"
I have re designed the UI with modern design style and sharp look which will increase user experience.

Demo:
![image](https://user-images.githubusercontent.com/57151177/159365025-5fdb0e82-d438-4a26-92b9-8fdf108c5ec6.png)

@llaske  I can pick it up  and change the UI

[2022-03-22 12:28] llaske commented on #112
UI should respect the same design than other Sugarizer activities so users are not lost when they move from one activity to another.
So I'm not in favor of changing the UI here.

[2022-03-22 12:32] bdbose commented on #112
Thanks for the feedback :)

[2022-03-22 19:39] #112 closed

[2022-03-22 20:58] llaske commented on #110
I'm not a big fan of this idea.
Exerciser doesn't give a time limit to solve an exercise. It's not something asked by the field and I think it will add stress to children for nothing. Plus it will add some complexity do define if an exercise has a time limit or not and how much is this time limit.

[2022-03-23 00:56] Shreyas-SAS commented on #110
@llaske

Oh. In that case we can drop the idea then.
Since it may be complex at this stage maybe we can try reintroduce the idea some time later after suggestions from the industry.

It can be set by the user or the teacher. I think that it can still be a good feature as it is not compulsory to have a timer on the exercise. We are just giving an option to do so.

Adding this will open the doors to

[2022-03-23 22:29] gitkaarma opened #113 "Navbar gets distorted in mobile view"
![image](https://user-images.githubusercontent.com/96700361/159806451-eac55d90-84aa-4177-8789-94b48a72d63f.png)

Apart from this, the Navbar.css file contains **A LOT** of redundant code. Should I refractor that code also? @llaske

[2022-03-24 21:21] llaske commented on #113
There is a limit to responsive in Sugarizer, see [here](https://github.com/llaske/sugarizer/issues/422).

[2022-03-25 10:11] gitkaarma opened #114 "Submit button getting disabled"
https://user-images.githubusercontent.com/96700361/160100914-2c49d5fd-449a-4157-94e5-e694aa10fe85.mp4

An extra semicolon is causing bug.

[2022-03-27 20:28] llaske commented on #114
Oh you're right.

[2022-03-27 21:50] gitkaarma opened #116 "Improvement in Reorder List"
Currently we can drag an option only by the three dots. Should we provide the facility to drag by holding the tile anywhere(instead of just the three dots).

![image](https://user-images.githubusercontent.com/96700361/160302381-0022a984-e471-4459-a9d4-d7439fceb3bd.png)

[2022-03-28 04:31] ashish0910 commented on #116
@gitkaarma this might cause unexpected behaviour while scrolling on touch devices

[2022-03-29 19:34] gitkaarma opened #117 "Displaying solutions at the end in MCQ exercise"
In the MCQ exercise, the solution of each question is displayed as soon as we press the submit button. This feature has few disadvantages: -

1.  Puts undue pressure on the child if he gets couple of questions wrong initially which may hamper his performance in rest of the exercise.
2.  If students give this exercise in group then answers of each question can be revealed by a particular person if

[2022-03-29 19:55] gitkaarma commented on #110
I think @llaske, without time limits, the tests conducted on exerciser will be too much random.
As we know tests in every school are conducted in time bound manner, so Evaluation feature could be added to exerciser only with a time limit option.
Each teacher in schools is allotted a limited amount of time to evaluate students.
This little extra pressure on children will only help them to perform b

[2022-03-29 20:02] llaske commented on #117
@gitkaarma for young children it's better to give the result on each question because they can't remind their answers.

[2022-03-29 20:50] gitkaarma commented on #117
@llaske No need to remember each answer as their is option to evaluate the whole test, after the test is ended.

[2022-03-30 07:49] gitkaarma opened #118 "Improvement in Graph"
If someone takes more than 10 minutes to finish an exercise, his time graph just shoots to the top.

![image](https://user-images.githubusercontent.com/96700361/160779158-6797112f-3a9a-4a33-950e-95d6fb5c479a.png)

It would be difficult to compare relative performance in such scenarios.

Also there is no marking(what they represent) on x and y axes. Should we also add that?

[2022-03-31 20:00] llaske commented on #110
@gitkaarma it may be the case for older children but it's not the case in elementary school.
No teacher ask for it and the app that inspired Exerciser - [LearningApps](https://learningapps.org/) - doesn't provide this feature.

[2022-03-31 20:01] #116 closed

[2022-03-31 20:28] llaske commented on #118
You're right, it will be better to adapt the scale to the number of minutes.
Why not adding mn and % on the vertical axis.

[2022-04-01 10:14] gitkaarma commented on #118
What can be the basis of our scaling @llaske ?
Can we set the maximum limit to something like (maximum time taken by a student + x) minutes. x maybe 10, 20, 50 minutes.

[2022-04-01 10:28] gitkaarma commented on #117
@llaske I agree that user has to wait for end of the test. But this is good because it does not lead to undue pressure on the user while solving.
Also this is the case with all the other exercises as well(showing results in the end), so it will improve consistency of the exerciser.

[2022-04-02 08:28] llaske commented on #118
If we change the current graph, the idea is to have a "smart" graph that adapt to the maximum.
The default maximum will be 10 minutes like today and it will adapt to the maximum if it's higher.

[2022-04-02 08:38] llaske commented on #117
@gitkaarma that's how works other test applications used by teachers. For example [LearningApps](https://learningapps.org/) that inspired the Exerciser activity. We don't have any request from the field to change this behavior.

[2022-04-02 18:28] gitkaarma commented on #118
https://user-images.githubusercontent.com/96700361/161396376-199adf66-fdf5-41a8-b4d1-838ecf85d7d5.mp4

@llaske Can you please review the changes?

I took more than 10 minutes to complete the test, so the minutes graph adapted accordingly.
If the user takes less than 10 minutes, the max y-axis limit will be 10 minutes.

[2022-04-02 18:46] gitkaarma opened #120 "Display picture overflowing in exercise card"
The display picture of exercises are overflowing.

![image](https://user-images.githubusercontent.com/96700361/161396606-db819c2e-cfab-4fe9-8906-4533ce980d5e.png)

![image](https://user-images.githubusercontent.com/96700361/161396612-47f9d76c-939d-480c-a7ad-ea31950068d6.png)

Could be improved by using CSS properties such as object-fit.
Proposed Changes: -

![image](https://user-images.githubuserc

[2022-04-02 20:28] llaske commented on #120
Why not? Let's try.

[2022-04-02 20:39] #114 closed

[2022-04-03 09:49] gitkaarma commented on #113
@llaske Should we still improve despite Sugarizer not being responsive for portrait mode or should I close this issue?

[2022-04-03 09:50] llaske commented on #113
You can close it.

[2022-04-03 10:19] #113 closed

[2022-04-04 14:22] gitkaarma opened #124 "No back button in create activity"
Suppose I clicked on create MCQ activity, and then I want to go the previous page, there is no option.

I have to first go to the main page and then click on add activity.
Adding a back button would enhance usability.

https://user-images.githubusercontent.com/96700361/161563924-0e76a7d1-03aa-4c33-b865-85d162a82496.mp4

[2022-04-05 13:49] jigyasunigam opened #125 "There should be a mixed activity builder."
There should be a mixed activity, in which setter can set different types of questions( like mcq, fill in the blanks, matching) in one exercise.
If you agree than I can made it.

[2022-04-05 20:04] llaske commented on #124
I don't see the interest to add a back button. Clicking of the main page button do the same that a back button.

[2022-04-05 20:13] llaske commented on #125
The feature [Run multiple exercises](https://github.com/sugarlabs/GSoC/blob/master/Ideas-2022.md#exerciser-evaluation-mode) will allow to run several questions. It's basically the same idea as mixed set of questions.

[2022-04-05 20:18] gitkaarma commented on #124
@llaske There is main page button, then there is create activity page(let's call it all-activity-create page) and then you enter the page to create a specific activity.
Suppose I entered into the page of creating MCQ activity then there is no way to go to all-activity-create page from here directly. I first have to go to home page and then come here.

[2022-04-05 20:46] llaske commented on #124
From the create activity page the user will probably finish by a created exercise. The only exception is if the user choose a wrong type. No need to add a button for that. Just one more click need.

[2022-04-06 02:39] jigyasunigam commented on #125
So can I start working on Run multiple exercises or it is only allowed during gsoc.

[2022-04-06 02:42] jigyasunigam commented on #125
So can I start working on Run multiple exercises or it is only allowed during gsoc.

[2022-04-06 19:39] llaske commented on #125
You could start to work on it.

[2022-04-07 20:09] #106 closed

[2022-04-07 20:57] #124 closed

[2022-04-07 20:57] #108 closed

[2022-04-08 20:17] nikkuAg commented on #125
Isn't this issue related to the problem statement of GSOC22. So do I have to hold for the time being

[2022-04-09 09:02] llaske commented on #125
@nikkuAg yes but if don't forbid to start working on the solution.

[2022-04-11 10:04] ORKO06 opened #126 "Navbar responsive issue in smaller screen size"
The navbar becomes unresponsive in smaller screen sizes i.e less than 476px.

![image](https://user-images.githubusercontent.com/74568847/162715752-6d736b19-e2ac-437b-ab89-ebe812d678fb.png)

[2022-04-11 10:06] ORKO06 opened #127 "Add Issue and PR template"
Currently, the project has no guidelines on how a new contributor should draft an issue/PR. I want to add a template to this repository so they can describe their issue and help other contributors understand what they are working on.

[2022-04-11 10:08] ORKO06 opened #128 "Image is getting cut in the card"
![image](https://user-images.githubusercontent.com/74568847/162716333-716ed136-42e6-407f-9874-5c3e608991c5.png)

I would like to add the below code to the image div to make it responsive.
 background-repeat: no-repeat;
 background-size: contain;

[2022-04-11 17:03] ashish0910 commented on #126
@ORKO06 similar issue: https://github.com/llaske/ExerciserReact/issues/113

[2022-04-11 17:09] ashish0910 commented on #128
Similar issue: https://github.com/llaske/ExerciserReact/issues/120

[2022-04-12 19:50] #126 closed

[2022-04-12 19:51] #128 closed

[2022-04-21 08:31] ORKO06 commented on #127
@ashish0910 Should I start working on this?

[2022-04-23 20:12] llaske commented on #127
Why not? You could just adapt https://github.com/llaske/sugarizer/blob/dev/CONTRIBUTING.md

[2022-04-26 18:08] ORKO06 commented on #127
I will start working on this issue after a few days as I am currently having exams.

[2022-05-18 20:32] #118 closed

[2022-05-29 19:20] #117 closed

[2022-05-29 19:20] #110 closed

[2022-05-30 12:45] nikkuAg commented on #100
Is this issue solved?

[2022-05-30 19:34] llaske commented on #100
@nikkuAg no it's not.

[2022-06-01 18:29] nikkuAg commented on #100
I have solved this issue in the above PR. Please review

[2022-06-01 18:51] nikkuAg commented on #127
Hey, I have made a PR with Contribution.md file. Please review it

[2022-06-07 19:59] #127 closed

[2022-06-07 20:15] #100 closed

[2022-06-28 20:03] llaske commented on #120
Fixed in https://github.com/llaske/ExerciserReact/pull/135